In [204]:
## Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [205]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# %matplotlib notebook
plt.rcParams["figure.figsize"] = (10,6)# çizeceğimiz şemaların ölçülerini belirlemiş olduk
# plt.rcParams['figure.dpi'] = 100
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [206]:
df = pd.read_json ('scout_car.json', lines = True)

In [207]:
df.columns = df.columns.str.lower().str.replace("\n","").str.replace(" & ","&").str.replace(" ","_")
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non-smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety&security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [208]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kw,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
previous_owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
next_inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
inspection_new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
full_service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
non-smoking_vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
offer_number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
first_registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
body_color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
paint_type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
body_color_original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
nr._of_doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
nr._of_seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
model_code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
gearing_type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
drive_chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
co2_emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
emission_class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
comfort&convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
entertainment&media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
safety&security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
emission_label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
gears,NaN,[\n7\n],NaN,[\n6\n],NaN
country_version,NaN,NaN,NaN,NaN,[\nGermany\n]
electricity_consumption,NaN,NaN,NaN,NaN,NaN
last_service_date,NaN,NaN,NaN,NaN,NaN
other_fuel_types,NaN,NaN,NaN,NaN,NaN
availability,NaN,NaN,NaN,NaN,NaN
last_timing_belt_service_date,NaN,NaN,NaN,NaN,NaN
available_from,NaN,NaN,NaN,NaN,NaN

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non-smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr._of_doors                   15707 non-null  object
 29  nr._of_seats                   14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort&convenience            14999 non-null  object
 41  entertainment&media            14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety&security                14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [210]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non-smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety&security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [211]:
df.null.value_counts

<bound method IndexOpsMixin.value_counts of 0        []
1        []
2        []
3        []
4        []
         ..
15914    []
15915    []
15916    []
15917    []
15918    []
Name: null, Length: 15919, dtype: object>

#Kullanımı olmayan sütunları çıkartıyoruz( Null yüzdesi %90 üzerinde olanları çıkartıyoruz)

In [212]:
df.isnull().sum()/df.shape[0]*100

url                               0.000
make_model                        0.000
short_description                 0.289
body_type                         0.377
price                             0.000
vat                              28.350
km                                0.000
registration                      0.000
prev_owner                       42.892
kw                              100.000
hp                                0.000
type                              0.013
previous_owners                  41.711
next_inspection                  77.794
inspection_new                   75.300
warranty                         34.047
full_service                     48.395
non-smoking_vehicle              54.916
null                              0.000
make                              0.000
model                             0.000
offer_number                     19.945
first_registration               10.032
body_color                        3.750
paint_type                       36.259
body_color_original              23.613
upholstery                       23.368
body                              0.377
nr._of_doors                      1.332
nr._of_seats                      6.137
model_code                       68.729
gearing_type                      0.000
displacement                      3.116
cylinders                        35.681
weight                           43.809
drive_chain                      43.081
fuel                              0.000
consumption                      11.973
co2_emission                     11.357
emission_class                   18.977
comfort&convenience               5.779
entertainment&media               8.631
extras                           18.607
safety&security                   6.169
description                       0.000
emission_label                   74.967
gears                            29.600
country_version                  52.346
electricity_consumption          99.139
last_service_date                96.445
other_fuel_types                 94.472
availability                     96.011
last_timing_belt_service_date    99.899
available_from                   98.291
dtype: float64

In [213]:
df.drop(["null","available_from","last_timing_belt_service_date","availability","kw",'electricity_consumption','last_service_date', 'other_fuel_types'], axis = 1, inplace = True)

In [214]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'type', 'previous_owners',
       'next_inspection', 'inspection_new', 'warranty', 'full_service',
       'non-smoking_vehicle', 'make', 'model', 'offer_number',
       'first_registration', 'body_color', 'paint_type', 'body_color_original',
       'upholstery', 'body', 'nr._of_doors', 'nr._of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'consumption', 'co2_emission', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety&security', 'description', 'emission_label', 'gears',
       'country_version'],
      dtype='object')

In [215]:
df.shape

(15919, 46)

In [216]:
#Her sütun için ayrı ayrı kontrol yaptık.

# URL

In [217]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [218]:
df.drop("url",axis=1,inplace=True)

In [219]:
df.shape

(15919, 45)

# MAKE-MODEL

In [220]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

## MAKE

In [221]:
df.make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

## MODEL

In [222]:
df.model.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [223]:
df[["make_model","make","model"]].sample(10)

          make_model         make               model
5738      Opel Astra     \nOpel\n     [\n, Astra, \n]
4432         Audi A3     \nAudi\n        [\n, A3, \n]
12165  Opel Insignia     \nOpel\n  [\n, Insignia, \n]
2633         Audi A3     \nAudi\n        [\n, A3, \n]
11484  Opel Insignia     \nOpel\n  [\n, Insignia, \n]
4017         Audi A3     \nAudi\n        [\n, A3, \n]
14383   Renault Clio  \nRenault\n      [\n, Clio, \n]
6462      Opel Astra     \nOpel\n     [\n, Astra, \n]
11332  Opel Insignia     \nOpel\n  [\n, Insignia, \n]
5663         Audi A3     \nAudi\n        [\n, A3, \n]

İnceleme sonucunda make ve model sütunlarına ihtiyacımız olmadığına karar verdik.

In [224]:

df.drop(["make","model"],axis=1,inplace=True)

In [225]:
df.shape

(15919, 43)

# SHORT-DESCRİPTİON

In [226]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [227]:
#Buradaki veriler baska sutunlarda da oldugu icin dusurduk.
df.drop("short_description",axis=1,inplace=True)

# BODY-TYPE

In [228]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [229]:
df.body.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64

In [230]:
df[["body_type","body"]].sample(10)

           body_type                     body
12084  Station wagon  [\n, Station wagon, \n]
10582  Station wagon  [\n, Station wagon, \n]
9098          Sedans         [\n, Sedans, \n]
1329         Compact        [\n, Compact, \n]
12666  Station wagon  [\n, Station wagon, \n]
1067          Sedans         [\n, Sedans, \n]
10278        Compact        [\n, Compact, \n]
202           Sedans         [\n, Sedans, \n]
9712         Compact        [\n, Compact, \n]
15305            Van            [\n, Van, \n]

In [231]:
df.drop("body",axis=1,inplace=True)

In [232]:
df.shape

(15919, 41)

# PRİCE

In [233]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   15919 non-null  object
 5   registration         15919 non-null  object
 6   prev_owner           9091 non-null   object
 7   hp                   15919 non-null  object
 8   type                 15917 non-null  object
 9   previous_owners      9279 non-null   object
 10  next_inspection      3535 non-null   object
 11  inspection_new       3932 non-null   object
 12  warranty             10499 non-null  object
 13  full_service         8215 non-null   object
 14  non-smoking_vehicle  7177 non-null   object
 15  offer_number         12744 non-null  object
 16  first_registration   14322 non-null  object
 17  body_color           15322 non-null  object
 18  paint_type           10147 non-null  object
 19  body_color_original  12160 non-null  object
 20  upholstery           12199 non-null  object
 21  nr._of_doors         15707 non-null  object
 22  nr._of_seats         14942 non-null  object
 23  model_code           4978 non-null   object
 24  gearing_type         15919 non-null  object
 25  displacement         15423 non-null  object
 26  cylinders            10239 non-null  object
 27  weight               8945 non-null   object
 28  drive_chain          9061 non-null   object
 29  fuel                 15919 non-null  object
 30  consumption          14013 non-null  object
 31  co2_emission         14111 non-null  object
 32  emission_class       12898 non-null  object
 33  comfort&convenience  14999 non-null  object
 34  entertainment&media  14545 non-null  object
 35  extras               12957 non-null  object
 36  safety&security      14937 non-null  object
 37  description          15919 non-null  object
 38  emission_label       3985 non-null   object
 39  gears                11207 non-null  object
 40  country_version      7586 non-null   object
dtypes: int64(1), object(40)
memory usage: 5.0+ MB

# VAT

vat da nan değerleri ne yapacağız?

In [235]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

# Km

In [236]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [237]:
df[["price","km"]].sort_values(by= "price",ascending=False).head(20)

       price         km
3648   74600  13,000 km
15826  68320   4,307 km
3649   67600  37,747 km
3587   64900  35,000 km
15828  64332       1 km
15831  64298      15 km
3595   63900      10 km
15833  63477       8 km
3590   62900     700 km
3594   58990   7,500 km
15808  58950   1,136 km
3593   58500  10,000 km
15807  57990   5,000 km
15809  57800   1,000 km
3596   57400  63,000 km
15392  56950      11 km
3592   56900   5,200 km
3597   56100   8,364 km
15810  55800   1,000 km
15811  55285      12 km

In [238]:
df.km.str.replace(',','').str.extract('(\d{1,8})')

           0
0      56013
1      80000
2      83450
3      73000
4      16200
...      ...
15914    NaN
15915   9900
15916     15
15917     10
15918    NaN

[15919 rows x 1 columns]

In [239]:
df["km"] = df.km.str.replace(',','').str.extract('(\d{1,8})')[0].astype('float')

In [240]:
df.km.value_counts(dropna=False)

10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64

# Registration & First Registration

In [241]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [242]:
df[["registration","first_registration"]].sample(10)

      registration first_registration
10237      02/2019     [\n, 2019, \n]
7589       02/2019     [\n, 2019, \n]
2873       03/2016     [\n, 2016, \n]
13275      11/2016     [\n, 2016, \n]
811        06/2017     [\n, 2017, \n]
11875      05/2018     [\n, 2018, \n]
597        05/2016     [\n, 2016, \n]
9550       05/2018     [\n, 2018, \n]
11517      11/2017     [\n, 2017, \n]
14054      09/2018     [\n, 2018, \n]

In [243]:
df["first_registration"].str[1]

0        2016
1        2017
2        2016
3        2016
4        2016
         ...
15914     NaN
15915    2019
15916    2019
15917    2019
15918    2019
Name: first_registration, Length: 15919, dtype: object

In [244]:
df["first_registration"].str[1].value_counts(dropna=False)

2018    4522
2016    3674
2017    3273
2019    2853
NaN     1597
Name: first_registration, dtype: int64

In [245]:
df["age"]=2019-df["first_registration"].str[1].astype("float")

In [246]:
df.age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

*nan değerleri sonra değerlendireceğiz*

In [247]:
df.drop(["first_registration","registration"],axis=1,inplace=True)

In [248]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'type', 'previous_owners', 'next_inspection', 'inspection_new',
       'warranty', 'full_service', 'non-smoking_vehicle', 'offer_number',
       'body_color', 'paint_type', 'body_color_original', 'upholstery',
       'nr._of_doors', 'nr._of_seats', 'model_code', 'gearing_type',
       'displacement', 'cylinders', 'weight', 'drive_chain', 'fuel',
       'consumption', 'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety&security', 'description',
       'emission_label', 'gears', 'country_version', 'age'],
      dtype='object')

# Prev_owner/Previous_Owner

In [249]:
df["prev_owner"].value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [250]:
df["previous_owners"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 103, dtype: int64

In [251]:
df[["prev_owner","previous_owners"]].sample(10)

             prev_owner                   previous_owners
2914               None                               NaN
7822               None                               NaN
14684  1 previous owner                             \n1\n
8401   1 previous owner                             \n1\n
7874               None                               NaN
14105              None                               NaN
13140  1 previous owner                             \n1\n
1650   1 previous owner                             \n1\n
4008   1 previous owner                             \n1\n
13029  1 previous owner  [\n1\n, \n187 g CO2/km (comb)\n]

In [252]:
df["prev_owner_2"]=df["prev_owner"].str.extract('(\d{1,8})')[0].astype('float')

In [253]:
df["prev_owner_2"]

0       2.000
1         NaN
2       1.000
3       1.000
4       1.000
         ...
15914     NaN
15915   1.000
15916   1.000
15917     NaN
15918   1.000
Name: prev_owner_2, Length: 15919, dtype: float64

In [254]:
df.drop(["prev_owner"],axis=1,inplace=True)

In [255]:
df["previous_owners_2"] = df["previous_owners"].apply(lambda item: item[0] if type(item) == list else item)
df["previous_owners_2"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: previous_owners_2, Length: 15919, dtype: object

In [256]:
df["previous_owners_2"] = df["previous_owners_2"].str.replace('\n','')

In [257]:
df[["previous_owners_2","prev_owner_2"]].sample(10)

      previous_owners_2  prev_owner_2
13719               NaN           NaN
12618                 1         1.000
7069                  1         1.000
2634                  1         1.000
11518                 1         1.000
9185                  2         2.000
6766                  1         1.000
14429                 1         1.000
12563                 1         1.000
3106                NaN           NaN

In [258]:
df["previous_owners_2"].value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: previous_owners_2, dtype: int64

In [259]:
df["prev_owner_2"].value_counts(dropna=False)

1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner_2, dtype: int64

In [260]:
df.drop(["prev_owner_2"],axis=1,inplace=True)

In [261]:
df.drop(["previous_owners"],axis=1,inplace=True)

prev_owner_2 daha çok nan içerdiği için değerlendirmeye almayacağız.

# HP

In [262]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [263]:
#Hata verdi
#df["hp_kW"] = df["hp"].str.replace(' kW','').astype("float")

In [264]:
df["hp_kw"] = df.hp.str.extract('(\d{1,8})')[0].astype('float')

In [265]:
df["hp_kw"]

0        66.000
1       141.000
2        85.000
3        66.000
4        66.000
          ...
15914   147.000
15915   165.000
15916   146.000
15917   147.000
15918   165.000
Name: hp_kw, Length: 15919, dtype: float64

In [266]:
df["hp_kw"].value_counts(dropna=False)

85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
70.000      888
125.000     707
51.000      695
55.000      569
118.000     516
92.000      466
121.000     392
147.000     380
77.000      345
56.000      286
54.000      276
103.000     253
87.000      232
165.000     194
88.000      177
60.000      160
162.000      98
NaN          88
74.000       81
96.000       72
71.000       59
101.000      47
67.000       40
154.000      39
122.000      35
119.000      30
164.000      27
135.000      24
82.000       22
52.000       22
78.000       20
1.000        20
294.000      18
146.000      18
141.000      16
57.000       10
104.000       8
120.000       8
191.000       7
112.000       7
155.000       6
117.000       6
184.000       5
90.000        4
76.000        4
65.000        4
149.000       3
80.000        3
168.000       3
98.000        3
93.000        3
228.000       2
270.000       2
53.000        2
140.000       2
86.000        2
167.000       2
127.000       2
89.000        2
143.000       2
63.000        2
40.000        2
150.000       2
163.000       1
115.000       1
132.000       1
75.000        1
4.000         1
137.000       1
123.000       1
133.000       1
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kw, dtype: int64

In [267]:
df.drop("hp",axis=1,inplace=True)

# TYPE

In [268]:
df.type.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 170, dtype: int64

In [269]:
df["type_1"]=df["type"].str[1]

In [270]:
df["type_1"].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type_1, dtype: int64

In [271]:
df["fuel"]=df["type"].str[3]

In [272]:
df["fuel"].value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                                       4315
Super 95                                                                                                                          3338
Gasoline                                                                                                                          3175
Diesel                                                                                                                            2982
Super 95 / Regular/Benzine 91                                                                                                      424
Regular/Benzine 91                                                                                                                 354
Super E10 95                                                                                                                       331
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Super E10 95                                                                                                            131
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Super 95 / Super Plus 98                                                                                                            85
Gasoline (Particulate Filter)                                                                                                       77
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super E10 95 / Super 95                                                                                                             38
CNG                                                                                                                                 33
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
LPG                                                                                                                                 16
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine E10 91                                                                                                              11
Liquid petroleum gas (LPG)                                                                                                          10
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super Plus 98                                                                                                                        7
Super E10 95 (Particulate Filter)                                                                                                    7
Others                                                                                                                               5
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
Super E10 95 / Super Plus E10 98                                                                                                     4
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Electric/Gasoline                                                                                                                    4
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
CNG (Particulate Filter)                                                                                                             3
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
NaN                                                                                                                                  2
Super E10 95 / Regular/Benzine 91                                                                                                    2
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Electric                                                                                                                             1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Others (Particulate Filter)                                                                                                          1
Biogas                                                                                                                               1
Super 95 / Biodiesel                                                                                                                 1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Domestic gas H                                                                                                                       1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus E10 98                                                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Super Plus 98 / Super E10 95                                                                                                         1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Name: fuel, dtype: int64

In [273]:
df["fuel"]=df["fuel"].str.replace(' / ',"/")

In [274]:
df["fuel"].str.split("/").apply(pd.Series).stack().unique()

array(['Diesel (Particulate Filter)', 'Gasoline', 'Super 95', 'Regular',
       'Benzine 91', 'Diesel', 'Super Plus 98', 'Benzine E10 91',
       'Super E10 95', 'Super Plus E10 98',
       'Super 95 (Particulate Filter)', 'Others',
       'Gasoline (Particulate Filter)',
       'Super Plus E10 98 (Particulate Filter)',
       'Benzine 91 (Particulate Filter)',
       'Super E10 95 (Particulate Filter)', 'CNG', 'Electric',
       'CNG (Particulate Filter)', 'Others (Particulate Filter)',
       'Biogas', 'Biodiesel', 'Benzine E10 91 (Particulate Filter)',
       'Domestic gas H', 'Super Plus 98 (Particulate Filter)', 'LPG',
       'Liquid petroleum gas (LPG)'], dtype=object)

In [275]:
df['fuel_2'] = df['fuel'].str.split('/', expand=True)[0]

In [276]:
df['fuel_2'] = df['fuel_2'].str.strip()

In [277]:
df['fuel_2'].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2982
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
NaN                                     2
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: fuel_2, dtype: int64

In [278]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 95", 'Super Plus E10 98', 'Super Plus 98', "Super 98", "Super E10 98", "Others", 'Super 95 (Particulate Filter)', 'Gasoline (Particulate Filter)', 'Super E10 95 (Particulate Filter)', 'Others (Particulate Filter)']
lpg = ['LPG', 'Liquid petroleum gas (LPG)', 'CNG', 'CNG (Particulate Filter)', 'Biogas', 'Domestic gas H']
diesel = ['Diesel', 'Diesel (Particulate Filter)']           
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    elif x in diesel:
        return 'Diesel'
    else:
        return x

In [279]:
df['fuel_type'] = df.fuel_2.apply(fueltype)

In [280]:
df['fuel_type'].value_counts(dropna=False)

Benzine     8551
Diesel      7297
LPG/CNG       64
Electric       5
NaN            2
Name: fuel_type, dtype: int64

In [281]:
df.drop('fuel_2', axis=1, inplace=True)

In [282]:
df.drop('fuel', axis=1, inplace=True)

# adding particulate_filter column

In [283]:
def particulatefilter(x):
    result = 0
    if type(x)!=float:
        for i in x:
            if "Particulate Filter" in i:
                result =1
                break
            else:
                result =0
    return result

In [284]:
df["particulate_filter"] = df.type.apply(particulatefilter)

In [285]:
df["particulate_filter"].value_counts(dropna=False)

0    11100
1     4819
Name: particulate_filter, dtype: int64

In [286]:
df.drop('type', axis=1, inplace=True)

# next_inspection / inspection_new

In [287]:
df.next_inspection.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: next_inspection, Length: 1400, dtype: int64

In [288]:
df[["next_inspection","inspection_new", 'consumption']].sample(10)

,next_inspection,inspection_new,consumption
4349,NaN,NaN,"[[4 l/100 km (comb)], [4.5 l/100 km (city)], [..."
15158,NaN,NaN,"[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],..."
11537,NaN,"[\nYes\n, \n103 g CO2/km (comb)\n]","[[3.9 l/100 km (comb)], [4.6 l/100 km (city)],..."
2227,NaN,"[\nYes\n, \n111 g CO2/km (comb)\n]","[[4.9 l/100 km (comb)], [6 l/100 km (city)], [..."
3444,NaN,NaN,"[[4.4 l/100 km (comb)], [5.2 l/100 km (city)],..."
14153,"[\n02/2021\n, \n133 g CO2/km (comb)\n]",NaN,"[[5.6 l/100 km (comb)], [7.2 l/100 km (city)],..."
9252,NaN,NaN,"[[5.3 l/100 km (comb)], [6.6 l/100 km (city)],..."
1641,NaN,NaN,"[[5 l/100 km (comb)], [6 l/100 km (city)], [3 ..."
335,NaN,"[\nYes\n, \n102 g CO2/km (comb)\n]","[[4.4 l/100 km (comb)], [5.2 l/100 km (city)],..."
645,NaN,"[\nYes\n, \n97 g CO2/km (comb)\n]","[[4.2 l/100 km (comb)], [5 l/100 km (city)], [..."

In [289]:
df.inspection_new.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]            1
[\nYes\n, \n, 6.8 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 6.1 l/100 km (country), \n]        1
[\nYes\n, \n, 4.1 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                                 1
Name: inspection_new, Length: 203, dtype: int64

In [290]:
df["next_inspection"] = [item[0] if type(item) == list else item for item in df["next_inspection"]]

In [291]:
df["next_inspection"] = df["next_inspection"].str.strip("\n")

In [292]:
df.next_inspection.value_counts(dropna=False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
02/2021      168
04/2022      144
05/2022      143
01/2021      132
03/2022      121
03/2020      113
02/2022      112
01/2022      107
02/2020       74
04/2020       68
07/2021       68
08/2021       64
01/2020       63
05/2020       62
11/2020       58
06/2020       58
04/2019       50
12/2020       50
05/2019       50
11/2021       49
07/2020       48
09/2021       46
07/2019       43
09/2019       41
06/2019       40
06/2022       40
10/2020       38
03/2019       36
08/2020       35
11/2019       35
08/2019       32
10/2019       32
02/2019       31
01/2019       28
09/2020       27
12/2021       22
01/2023       20
10/2021       20
12/2019       20
02/2023       12
10/2018       10
03/2023       10
07/2022        9
08/2022        8
12/2018        6
01/2001        5
07/2018        5
11/2018        4
04/2017        4
03/2017        4
06/2016        4
03/2018        3
04/2023        3
08/2018        3
05/2023        2
05/2018        2
07/2017        2
06/2018        2
09/2018        2
10/2022        2
03/2024        1
12/2022        1
01/1921        1
12/2017        1
01/1999        1
05/2017        1
02/2017        1
05/2016        1
05/2014        1
04/2016        1
01/1955        1
01/2018        1
11/2022        1
Name: next_inspection, dtype: int64

# *ay farki bulunacak ?*

In [293]:
df.begin_year = '01/01/2019'

In [294]:
df.begin_year = pd.to_datetime(df.begin_year)

In [295]:
df.begin_year

Timestamp('2019-01-01 00:00:00')

In [296]:
df.next_inspection = pd.to_datetime(df['next_inspection'])

In [297]:
# Gunler uzerinden bir hesaplama yapiyor. Dolayisiyla fark tam degil virgullu geliyor.
df.next_inspection_months = ((df.next_inspection - df.begin_year)/np.timedelta64(1, 'M'))

In [298]:
((df.next_inspection - df.begin_year)/np.timedelta64(1, 'M')).head(20)

0    28.978
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8    13.011
9       NaN
10      NaN
11      NaN
12    7.984
13      NaN
14    8.969
15   14.982
16      NaN
17      NaN
18   17.972
19      NaN
Name: next_inspection, dtype: float64

In [299]:
df.next_inspection.head(20)

0    2021-06-01
1           NaT
2           NaT
3           NaT
4           NaT
5           NaT
6           NaT
7           NaT
8    2020-02-01
9           NaT
10          NaT
11          NaT
12   2019-09-01
13          NaT
14   2019-10-01
15   2020-04-01
16          NaT
17          NaT
18   2020-07-01
19          NaT
Name: next_inspection, dtype: datetime64[ns]

In [300]:
df.next_inspection_months.value_counts(dropna=False)

NaN          12384
28.978         471
25.955         210
27.960         180
26.974         171
25.035         168
38.966         144
39.952         143
24.017         132
37.947         121
13.963         113
37.027         112
36.009         107
13.011          74
14.982          68
29.964          68
30.982          64
11.992          63
15.967          62
22.013          58
16.986          58
2.957           50
22.998          50
3.943           50
34.005          49
17.972          48
32.001          46
5.947           43
7.984           41
4.961           40
40.970          40
20.994          38
1.938           36
18.990          35
9.988           35
6.965           32
8.969           32
1.019           31
0.000           28
20.009          27
34.990          22
48.001          20
32.986          20
10.974          20
49.019          12
-3.023          10
49.939          10
41.956           9
42.974           8
-1.019           6
-215.988         5
-6.045           5
-2.004           4
-21.027          4
-22.046          4
-31.015          4
-10.054          3
50.958           3
-5.027           3
51.944           2
-8.049           2
-18.037          2
-7.031           2
-4.008           2
44.978           2
61.964           1
46.982           1
-1176.008        1
-13.011          1
-240.005         1
-20.041          1
-22.966          1
-32.034          1
-56.050          1
-33.019          1
-768.016         1
-11.992          1
45.997           1
Name: next_inspection, dtype: int64

In [301]:
df.drop('next_inspection', axis=1, inplace=True)

# inspection_new

In [302]:
df["inspection_new"] = [item[0] if type(item) == list else item for item in df["inspection_new"]]

In [303]:
df["inspection_new"] = df["inspection_new"].str.strip("\n")

In [304]:
df["inspection_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: inspection_new, dtype: int64

In [305]:
df.drop('inspection_new', axis=1, inplace=True)

# warranty

In [306]:
df.warranty.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 516, dtype: int64

In [307]:
df["warranty_2"] = [item[0] if type(item) == list else item for item in df["warranty"]]

In [308]:
df.warranty_2 = df["warranty_2"].str.strip("\n")

In [309]:
df.warranty_2 = df["warranty_2"].str.strip(" months")

In [310]:
#Replacing empty space with NaN
df.warranty_2 = df.warranty_2.replace(r'^\s*$', np.nan, regex=True)

In [311]:
df.warranty_2 = df.warranty_2.astype('float')

In [312]:
#Alternatif kod
#df["warranty_2"] = df.warranty.apply(lambda x : x[0] if type(x)==list else x)
#df["warranty_2"] = df.warranty.str.strip("\n").str.extract('(\d{1,2})')[0].astype("float")

In [313]:
df.warranty_2.value_counts(dropna=False)

NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty_2, dtype: int64

In [314]:
df.drop('warranty', axis=1, inplace=True)

# full_service

In [315]:
df.full_service.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 123, dtype: int64

In [316]:
#Emisyon labellari diger sutunlarda da mevcut.
df.drop('full_service', axis=1, inplace=True)

# non-smoking_vehicle

In [317]:
df['non-smoking_vehicle'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non-smoking_vehicle, dtype: int64

In [318]:
#Diger sutunlarda benzer degelrer var.
df.drop('non-smoking_vehicle', axis=1, inplace=True)

# offer_number

In [319]:
df.offer_number.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: offer_number, Length: 11441, dtype: int64

In [320]:
#Arac degerini tespitte kullanilabilir bir sutun degil.
df.drop('offer_number', axis=1, inplace=True)

# body_color

In [321]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'body_color',
       'paint_type', 'body_color_original', 'upholstery', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'consumption', 'co2_emission',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'description', 'emission_label', 'gears',
       'country_version', 'age', 'previous_owners_2', 'hp_kw', 'type_1',
       'fuel_type', 'particulate_filter', 'warranty_2'],
      dtype='object')

In [322]:
df[['body_color', 'body_color_original']]

            body_color           body_color_original
0      [\n, Black, \n]           [\nMythosschwarz\n]
1        [\n, Red, \n]                           NaN
2      [\n, Black, \n]  [\nmythosschwarz metallic\n]
3      [\n, Brown, \n]                           NaN
4      [\n, Black, \n]  [\nMythosschwarz Metallic\n]
...                ...                           ...
15914   [\n, Grey, \n]            [\nGrigio scuro\n]
15915   [\n, Grey, \n]     [\nStahl-Grau Metallic\n]
15916  [\n, White, \n]             [\narktis-weiß\n]
15917   [\n, Grey, \n]                  [\nGrigio\n]
15918   [\n, Grey, \n]  [\nTitanium-Grau Metallic\n]

[15919 rows x 2 columns]

In [323]:
df.body_color.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [324]:
df.body_color=df['body_color'].str[1]

In [325]:
df.body_color.value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

# body_color_original

In [326]:
df.body_color_original.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: body_color_original, Length: 1928, dtype: int64

In [327]:
# Degerlendirmede anlamli olmadigini dusundugumuz icin dusurduk.
df.drop('body_color_original', axis=1, inplace=True)

# paint_type

In [328]:
df.paint_type.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [329]:
df.paint_type = df.paint_type.str[0].str.strip('\n')

In [330]:
df.paint_type.value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

# upholstery

In [331]:
df.upholstery.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [332]:
df["upholstery"] = [item[0] if type(item) == list else item for item in df.upholstery]

In [333]:
df["upholstery"] = df.upholstery.str.strip("\n").str.split(", ")

In [334]:
df["upholstery"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Brown]                    12
[Cloth, Blue]              12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Part leather, Red]         3
[Beige]                     3
[Part leather, White]       2
[Full leather, Blue]        2
[alcantara, Other]          2
[alcantara]                 2
[White]                     2
[Part leather, Beige]       2
[Blue]                      2
[Cloth, Orange]             1
[Full leather, Red]         1
[Other, Brown]              1
[Full leather, White]       1
Name: upholstery, dtype: int64

In [335]:
u_type = ["Cloth", 'Part leather', 'Full leather', 'Velour', 'alcantara']
df["upholstery_type"] = df["upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [336]:
df["upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: upholstery_type, dtype: int64

In [337]:
color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange']
def finder(x):
    if type(x) == list and len(x) == 2:
        return x[1]
    elif type(x) == list and x[0] in color:
        return x[0]
    else:
        return np.nan

In [338]:
df['upholstery_color'] = df.upholstery.apply(finder)

In [339]:
df['upholstery_color'].value_counts(dropna=False)

Black     8201
NaN       5078
Grey      1376
Other      960
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: upholstery_color, dtype: int64

In [340]:
df.drop('upholstery', axis=1, inplace=True)

# nr._of_doors

In [341]:
df['nr._of_doors'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: nr._of_doors, dtype: int64

In [342]:
df['nr._of_doors'] = df['nr._of_doors'].str[0].str.strip('\n').astype('float')

In [343]:
df['nr._of_doors'].value_counts(dropna=False)

5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr._of_doors, dtype: int64

# nr._of_seats

In [344]:
df['nr._of_seats'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr._of_seats, dtype: int64

In [345]:
df['nr._of_seats'] = df['nr._of_seats'].str[0].str.strip('\n').astype('float')

In [346]:
df['nr._of_seats'].value_counts(dropna=False)

5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr._of_seats, dtype: int64

# model_code

In [347]:
df.model_code.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/AVN\n]        1
[\n0035/BEM\n]        1
[\n0035/BAG\n]        1
[\n0035/BAA\n]        1
[\n3333/BKG\n]        1
Name: model_code, Length: 233, dtype: int64

In [348]:
df.drop('model_code', axis=1, inplace=True)

# gearing_type

In [349]:
df.gearing_type.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [350]:
df['gearing_type'] = df['gearing_type'].str[1].str.strip('\n')

In [351]:
df['gearing_type'].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

# displacement

In [352]:
df.displacement.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
NaN                 496
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,200 cc\n]       18
[\n1,984 cc\n]       18
[\n1,397 cc\n]       11
[\n899 cc\n]         11
[\n160 cc\n]          6
[\n929 cc\n]          5
[\n1,499 cc\n]        5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n139 cc\n]          4
[\n900 cc\n]          4
[\n1,599 cc\n]        3
[\n1,199 cc\n]        3
[\n1,396 cc\n]        3
[\n1,495 cc\n]        2
[\n1,589 cc\n]        2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n995 cc\n]          2
[\n1,496 cc\n]        1
[\n890 cc\n]          1
[\n1,580 cc\n]        1
[\n1,995 cc\n]        1
[\n1,333 cc\n]        1
[\n54 cc\n]           1
[\n1,533 cc\n]        1
[\n1,100 cc\n]        1
[\n1,350 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n1,568 cc\n]        1
[\n1,896 cc\n]        1
[\n1,584 cc\n]        1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n1,686 cc\n]        1
[\n15,898 cc\n]       1
[\n1,368 cc\n]        1
[\n140 cc\n]          1
[\n973 cc\n]          1
[\n1,239 cc\n]        1
[\n1,369 cc\n]        1
[\n1,390 cc\n]        1
[\n122 cc\n]          1
[\n1,198 cc\n]        1
[\n1,195 cc\n]        1
[\n2,967 cc\n]        1
[\n1,800 cc\n]        1
Name: displacement, dtype: int64

In [353]:
df.displacement = df.displacement.str[0].str.strip('\n').str.replace(',','').str.extract('(\d{1,5})')[0].astype("float")

In [354]:
df.displacement.value_counts(dropna=False)

1598.000     4761
999.000      2438
1398.000     1314
1399.000      749
1229.000      677
1956.000      670
1461.000      595
1490.000      559
NaN           496
1422.000      467
1197.000      353
898.000       351
1395.000      320
1968.000      301
1149.000      288
1618.000      212
1798.000      210
1498.000      196
1600.000      130
1248.000      110
1997.000      103
1364.000      102
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       25
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
997.000         4
1596.000        4
139.000         4
900.000         4
1599.000        3
1199.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: displacement, dtype: int64

# cylinders

In [355]:
df.cylinders.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64

In [356]:
df.cylinders = df.cylinders.str[0].str.strip('\n').astype("float")

In [357]:
df.cylinders.value_counts(dropna=False)

4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: cylinders, dtype: int64

# weight

In [358]:
df.weight.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: weight, Length: 435, dtype: int64

In [359]:
df['weight_kg'] = df.weight.str[0].str.replace(',','').str.extract('(\d{1,5})')[0].astype("float")

In [360]:
df['weight_kg'].value_counts(dropna=False)

NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight_kg, Length: 435, dtype: int64

In [361]:
df.drop('weight', axis=1, inplace=True)

In [362]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   body_color           15322 non-null  object
 6   paint_type           10147 non-null  object
 7   nr._of_doors         15707 non-null  float64
 8   nr._of_seats         14942 non-null  float64
 9   gearing_type         15919 non-null  object
 10  displacement         15423 non-null  float64
 11  cylinders            10239 non-null  float64
 12  drive_chain          9061 non-null   object
 13  consumption          14013 non-null  object
 14  co2_emission         14111 non-null  object
 15  emission_class       12898 non-null  object
 16  comfort&convenience  14999 non-null  object
 17  entertainment&media  14545 non-null  object
 18  extras               12957 non-null  object
 19  safety&security      14937 non-null  object
 20  description          15919 non-null  object
 21  emission_label       3985 non-null   object
 22  gears                11207 non-null  object
 23  country_version      7586 non-null   object
 24  age                  14322 non-null  float64
 25  previous_owners_2    9279 non-null   object
 26  hp_kw                15831 non-null  float64
 27  type_1               15917 non-null  object
 28  fuel_type            15917 non-null  object
 29  particulate_filter   15919 non-null  int64
 30  warranty_2           4853 non-null   float64
 31  upholstery_type      11048 non-null  object
 32  upholstery_color     10841 non-null  object
 33  weight_kg            8945 non-null   float64
dtypes: float64(9), int64(2), object(23)
memory usage: 4.1+ MB

# drive_chain

In [363]:
df.drive_chain.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64

In [364]:
df.drive_chain = df.drive_chain.str[0].str.strip('\n')

In [365]:
df.drive_chain.value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

# consumption

In [366]:
df.consumption.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64

In [367]:
def parser1(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]
    
def parser2(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[1] != []:
            return x[1][0]
        else:
            return np.nan
    elif x[3].endswith(')'):
        return x[3]
    else:
        return np.nan
    
def parser3(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[2] != []:
            return x[2][0]
        else:
            return np.nan
    elif type(x[0]) != list and x[4].endswith(')'):
        return x[4]
    else:
        return np.nan

In [368]:
df['consumption_comb'] = df.consumption.apply(parser1).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['consumption_city'] = df.consumption.apply(parser2).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['consumption_country'] = df.consumption.apply(parser3).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")

In [369]:
df['consumption_comb'].value_counts(dropna=False).head()

NaN      2033
5.400     770
3.900     733
4.000     713
5.100     657
Name: consumption_comb, dtype: int64

In [370]:
df['consumption_city'].value_counts(dropna=False).head()

NaN      2436
5.000     669
5.800     633
4.500     580
4.300     533
Name: consumption_city, dtype: int64

In [371]:
df['consumption_country'].value_counts(dropna=False).head()

NaN      3212
4.200    1101
3.700    1059
4.400     829
4.500     789
Name: consumption_country, dtype: int64

In [372]:
df.drop('consumption', axis=1, inplace=True)

# co2_emission

In [373]:
df.co2_emission.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: co2_emission, Length: 124, dtype: int64

In [374]:
df.co2_emission = df.co2_emission.str[0].str.replace(',','').str.extract('(\d{1,5})')[0].astype("float")

In [375]:
df.co2_emission.value_counts(dropna=False)

NaN         2436
120.000      740
99.000       545
97.000       537
104.000      501
            ...
14.000         1
1060.000       1
51.000         1
165.000        1
193.000        1
Name: co2_emission, Length: 123, dtype: int64

# emission_class

In [376]:
df.emission_class.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [377]:
df.emission_class = df.emission_class.str[0].str.strip('\n')

In [378]:
df.emission_class = df.emission_class.replace({'Euro 6d-TEMP': 'Euro 6', 'Euro 6c': 'Euro 6', 'Euro 6d': 'Euro 6'})

In [379]:
df.emission_class.value_counts(dropna=False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

# comfort&convenience ?

In [380]:
df['comfort&convenience'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: comfort&convenience, Length: 6199, dtype: int64

In [381]:
df[['comfort&convenience', 'entertainment&media', 'extras']]

,comfort&convenience,entertainment&media,extras
0,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont..."
1,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ..."
2,"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]"
3,"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]"
4,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension..."
...,...,...,...
15914,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]"
15915,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]"
15916,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels]
15917,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]"
15918,"[Air conditioning, Automatic climate control, ...",[USB],"[Alloy wheels, Touch screen]"

In [382]:
df['comfort&convenience'] = [','.join(item) if type(item) == list else item for item in df['comfort&convenience']]

In [383]:
df['comfort&convenience'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort&convenience, Length: 6199, dtype: int64

# entertainment&media

In [384]:
df['entertainment&media'] = [','.join(item) if type(item) == list else item for item in df['entertainment&media']]

In [385]:
df['entertainment&media'].value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment&media, Length: 347, dtype: int64

# extras

In [386]:
df['extras'] = [','.join(item) if type(item) == list else item for item in df['extras']]

In [387]:
df['extras'].value_counts(dropna=False)

Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 660, dtype: int64

# safety&security

In [388]:
df['safety&security'] = [','.join(item) if type(item) == list else item for item in df['safety&security']]

In [389]:
df['safety&security'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety&security, Length: 4444, dtype: int64

# description

In [390]:
df.description.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

In [391]:
df.drop('description', axis=1, inplace=True)

# emission_label

In [392]:
df.emission_label.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: emission_label, dtype: int64

In [393]:
df.emission_label = df.emission_label.str[0].str.strip('\n')

In [394]:
df.emission_label.value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: emission_label, dtype: int64

In [395]:
#Yukarida emission_class sutununda hem daha az null hem benzer degerler oldugu icin dusurduk.
df.drop('emission_label', axis=1, inplace=True)

# gears

In [396]:
df.gears.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [397]:
df.gears = df.gears.str[0].str.strip('\n').astype('float')

In [398]:
df.gears.value_counts(dropna=False)

6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64

# country_version

In [399]:
df.country_version.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [400]:
df.country_version = df.country_version.str[0].str.strip('\n')

In [401]:
df.country_version.value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [402]:
# Bu sutunun deger icin bir etkisi olmayacagini dusundugumuz icin dusurduk.
df.drop('country_version', axis=1, inplace=True)

In [403]:
df.shape

(15919, 33)

In [404]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   body_color           15322 non-null  object
 6   paint_type           10147 non-null  object
 7   nr._of_doors         15707 non-null  float64
 8   nr._of_seats         14942 non-null  float64
 9   gearing_type         15919 non-null  object
 10  displacement         15423 non-null  float64
 11  cylinders            10239 non-null  float64
 12  drive_chain          9061 non-null   object
 13  co2_emission         13483 non-null  float64
 14  emission_class       12291 non-null  object
 15  comfort&convenience  14999 non-null  object
 16  entertainment&media  14545 non-null  object
 17  extras               12957 non-null  object
 18  safety&security      14937 non-null  object
 19  gears                11207 non-null  float64
 20  age                  14322 non-null  float64
 21  previous_owners_2    9279 non-null   object
 22  hp_kw                15831 non-null  float64
 23  type_1               15917 non-null  object
 24  fuel_type            15917 non-null  object
 25  particulate_filter   15919 non-null  int64
 26  warranty_2           4853 non-null   float64
 27  upholstery_type      11048 non-null  object
 28  upholstery_color     10841 non-null  object
 29  weight_kg            8945 non-null   float64
 30  consumption_comb     13886 non-null  float64
 31  consumption_city     13483 non-null  float64
 32  consumption_country  12707 non-null  float64
dtypes: float64(14), int64(2), object(17)
memory usage: 4.0+ MB

# Import to csv

In [405]:
df.to_csv('autoscout_clean.csv', index=False)